- include_tasks: "tasks/01_create_ocm_cluster.yml"
  when: snocp_tf_state == "present"

- include_tasks: "tasks/02_{{ snocp_provider }}.yml"

- include_tasks: "tasks/03_prepare_host.yml"
  when: snocp_tf_state == "present"

- debug: 
    msg: "You can find info or finish install of your cluster here https://console.redhat.com/openshift/assisted-installer/clusters/{{ cluster.json.id }}"
