{# note: Fix ugly arm arch notation #}
{% if snocp_cluster_arch == "arm64" %}
  {% set j2_local_arch = "aarch64" -%}
{% elif snocp_cluster_arch == "x86_64" %}
  {% set j2_local_arch = "x86_64" -%}
{% endif %}

#!/bin/bash

[ "$GRUB_FS" == "btrfs" ] && SUBVOL="$(mount | grep " / " | cut -d "=" -f3 | cut -d ")" -f1)" || SUBVOL="/boot"

cat <<EOF
menuentry "Red Hat - Assisted Install" {
    linux ${SUBVOL}/snocp_kernel.img initrd=initrd coreos.live.rootfs_url="https://mirror.openshift.com/pub/openshift-v4/{{ snocp_cluster_arch }}/dependencies/rhcos/{{ snocp_cluster_version }}/rhcos-live-rootfs.{{ j2_local_arch }}.img" random.trust_cpu=on rd.luks.options=discard ignition.firstboot ignition.platform.id=metal console=tty1 console=ttyS1,115200n8 coreos.inst.persistent-kargs="console=tty1 console=ttyS1,115200n8"
    initrd ${SUBVOL}/snocp_initrd.img
}
EOF
